
body {
    font-family: Tahoma, Arial, sans-serif;
    margin: 0px;
}

header{
    margin: 0px;
}

.top{
    background-color: #5A5A5A;
    padding: 15px;
}

.center {
    display: flex;
    align-items: center;
}

.white{
    color: #F3F3F3;
}

.bottom{
    background-image: url("/library/banner.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



section {
    margin: 45px;
}

section > p:first-of-type {
    font-weight: bold;
    margin-bottom: 50px;
}

.content p{
    line-height: 1.4;
    margin-bottom: 20px;
}

.content-img{
    float: left;
    margin-right: 20px
}



footer{
    margin-top: 50px;
    background-color: #5A5A5A;
    padding: 20px;
}