
body {
    font-family: 'Rufina', sans-serif;
    margin: 0px;
    background-color: #F3F3F3;
}

.top{
    background-color: #34495e;
    padding: 15px;
    width: auto;
    height: 50px;
    padding: 5px 5px 5px 40px;
    font-family: 'Rubik', sans-serif;
}

.top .white {
    display: flex;
    justify-content: space-between;
    width: 91%;
    margin: 10px;

}

a {
    text-decoration: none;
    color: black;
}

.top a, .top label{
    color: #ecf0f1;
    font-size: 20px;
}

.top a:hover{
    color: #b9bcbe;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white{
    color: #ecf0f1;;
}

.bottom{
    background-image: url("../library/Images/banner.jpg");
    background-position:center;
    background-size:cover;
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottom b{
    font-size: 4vw;
    color: #2c3e50;
}

.bottom p{
    font-size: 2vw;
    margin-top: 3px;
    color: #2c3e50;
}

section {
    margin: 60px 20px;
    padding: 45px;
    background-color: #ecf0f1; 
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

section > p:first-of-type {
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Rubik', sans-serif;
}


section h2 {
    font-size: 2.5em;
    color: #34495e;
    margin-bottom: 50px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 1000px;
    margin-bottom: 50px;
}

.content-img {
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 40px;
}

.contentText {
    color: #2c3e50;
    border-radius: 10px;
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    max-width: 100%;
    text-align: center;
}



.grid_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
}

.box {
    margin: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: solid 1px rgb(207, 207, 207);
    width: calc(100% - 40px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.boxHov:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2), 0px 3px 6px rgba(0, 0, 0, 0.15);
    
}

.box p{
    font-size:x-large;
    margin-left: 10px;
}

.box img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 20px);
    max-height: 150px;
    object-fit:contain;
}

.description{
    margin: 5px 10px 20px 10px;
}

.fileType {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 3px;
}

.boxHov:hover .fileType {
    display: block;
}

footer{
    background-color: #34495e;
    padding: 20px;
    height: 400px;
    margin-top: 100px;
}

.grid {
    display: grid;
    grid-template-columns: 5% 50% 45%;
    margin-top: 10px;
}

.contact{
    grid-column-start: 2;
    padding: 15px;
    font-family: 'Rubik', sans-serif;
}

.contact > p:first-of-type {
    font-size: 4vw;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    font-family: 'Rufina', sans-serif;
}

.contact p{
    padding-left: 40px;
    margin: 20px;
}

.logos{
    padding-left: 40px;
    margin: 20px;
    margin-top: 40px;
}

.contact a img:hover{
    cursor: pointer;
    transform: scale(1.4,1.4);
    transition: 0.2s;
}

form{
    grid-column-start: 3;
    padding: 55px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Rufina', sans-serif;
}


form input, form textarea  {
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 5px;
    border-width: 0px;
    box-shadow: 0 2px 5px rgba(65, 62, 62, 0.8);
    font-family: 'Rubik', sans-serif;
    width: calc(75% - 20px);
}

form input[type="submit"] {
    background-color: #2f5377;
    color: white;
    cursor: pointer;
    width: calc(77% - 20px);
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
}

form input[type="submit"]:hover {
    background-color: #2c3e50;
    transform: scale(1.02,1.02);
}
